<div class="col-md-4 col-md-offset-4">
  <h2>New Message</h2>

  <%= render "layouts/errors", :object => @message %>

  <%= form_for @message do |form| %>
    <div class = "form-group">
      <%= form.label :from %>
      <%= form.text_field :from, class: 'form-control' %>
    </div>
    <div class = "form-group">
      <%= form.label :to %>
      <%= form.text_field :to, class: 'form-control' %>
    </div>
    <div class = "form-group">
      <%= form.label :body %>
      <%= form.text_area :body, class: 'form-control' %>
    </div>
    <%= form.submit class: 'btn btn-md btn-danger' %>
  <% end %>

</div>
